.selected-product-wrapper {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  justify-content: center;
}

.selected-product-details {
  width: 70%;
  background-color: #ffffff;
  display: flex;
}

.selected-product-image {
  width: 400px;
}

.selected-product-image img {
  width: 100%;
}

.selected-product-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.selected-product-price-wrapper {
  display: flex;
  align-items: center;
}

.go-back {
  display: flex;
  justify-content: flex-end;
  padding: 0 50px;
}

.go-back a {
  text-decoration: underline;
  cursor: pointer;
}

