.product-details {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.product-details:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-image > img {
  width: 100%;
}

.product-description {
  height: 30px;
  padding: 3px 10px;
}

.product-price-wrapper {
  display: flex;
}

.product-price {
  width: 30%;
  padding: 0 10px;
}